/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
/* Fonts Style */
/* font Size */
/* Spacing */
body {
  background-color: #100815; }

.navbar-nav a {
  color: #ffffff;
  font-family: "Mukta", sans-serif; }

.navbar-nav__hr {
  color: #1a56a5; }

.card {
  background-color: #100815;
  padding: 2.4rem;
  margin: 2.4rem;
  border: none; }
  .card-body {
    background-color: #100815;
    border: 1px solid #C7BDE9; }
  .card-title {
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    text-align: center; }
  .card-text {
    font-family: "Mukta", sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: large; }

h2, h5 {
  color: #ffffff;
  font-family: "Mukta", sans-serif; }

.container h1 {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 5.2em; }

.card {
  background-color: #6c65b8;
  border: 1px solid #C7BDE9; }
  .card img {
    border: 1px solid lightcoral; }
  .card h4 {
    color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-size: 2.2em; }
  .card hr {
    color: orange; }
  .card__text {
    color: lightcoral;
    font-family: "Mukta", sans-serif;
    font-size: 1.6em; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px;
  border: solid 1px pink;
  transition: all 0.5s ease; }
  #galeria img:hover {
    cursor: pointer;
    border: 10px solid #C7BDE9; }

.container .titulo__galeria {
  font-family: "Nunito", sans-serif;
  color: #ffffff; }

.container .texto__galeria {
  font-family: "Mukta", sans-serif;
  color: #ffffff; }

.title__comentario {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
