@import './misc/variables';
@import './misc/reset';


body {
    background-color: $background-color;
}

.navbar-nav {
    a {
        color: $text-color;
        font-family: $font-principal;
    }
    &__hr {
        color: rgb(26, 86, 165);
    }
}

.card-title {
    font-family: $font-title;
    text-align: center;

    .card-text {
        font-family: $font-principal;
        font-size: large;
    }
}

.titulo__galeria {
    font-family: $font-title;
    color: $text-color;

    .texto__galeria {
        font-family: $font-principal;
        color: $text-color;
    }
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

@mixin propiedad-gal--img ($alto, $ancho, $borde) {
    width: $ancho;
    height: $alto;
    border: $borde;
}

#galeria img {
    @include propiedad-gal--img(250px, 100%, solid 1px pink );

    &:hover {
        border: 5px solid $border-color;
    }
}

.title__comentario {
    text-align: center;
}

h2 {
    color: $text-color;
    font-family: $font-principal;
}

h5 {
    @extend h2;
}
  