 /* Declaramos variables para Font-Family */
    $font-principal:'Gantari',
     sans-serif;
    $font-title:'Roboto Mono',
     monospace;
     /* Variables color */
     $background-color: rgb(25, 24, 55);
     $text-color: #fff;
     $border-color: rgb(220, 218, 101)