.navbar {
    background-color: $background-color-nav; 
}

.title__comentario {
    font-family: $font-style-principal;
}

.btn-1 {
    background-color: red;
    border: 1px solid black;
    color: #ffff;
}

.btn-2 {
    background-color: blue;
    border: 1px solid back;
    color: white;
}