.navbar {
    background-color: $background-color-nav; 
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

@mixin propiedad-gal--img ($alto, $ancho, $borde) {
    width: $ancho;
    height: $alto;
    border: $borde;
}

#galeria img {
    @include propiedad-gal--img(250px, 100%, solid 1px rgb(76, 67, 49) );
    transition: width 2s, height 2s, transform 1s;

    &:hover {
        cursor: pointer;
        width: 350px;
        height: 350px;
        transform: rotate(180deg);
    }
}

.container {
        .titulo__galeria {
        font-family: $font-style-principal;
        color: $text-color-default;
        }
        .texto__galeria {
            font-family: $font-style-secundary;
            color: $text-color-default;
        }
}

.title__comentario {
    text-align: center;
}