body {
    background-color: $background-color;
}
/* Estilos NAVBAR */
.navbar {
    background-color: $background-color-nav; 
        a {
            color: $text-color-default;
            font-family: $font-style-secundary;
        }
            &__hr {
            color: rgb(26, 86, 165);
        }
    }
/* Estilos CONTENIDO */
.articulo {
    background-color: $background-color;
    padding: $space-medium;
    margin: $space-medium;
    border: none;
    
    .card-body {
        background-color: $background-color;
        border: 1px solid $border-color;
    }

    .card-title {
        font-family: $font-style-principal;
        color: $text-color-default;
        text-align: center;
    }
    
    .card-text {
        text-align: center;
        font-family: $font-style-secundary;
        color: $text-color-default;
    }
}

h2 {
    color: $text-color-default;
    font-family: $font-style-secundary;
}

h5 {
    @extend h2;
}