.navbar {
    background-color: $background-color-nav; 
}

.card__titulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $text-color-default;
    font-family: $font-style-principal;
     margin-top: 2rem;
}

.card-planetas {
    .card {
        background-color: black;
        color: $text-color-default;
        font-family: $font-style-secundary;
        border: 1px solid $border-color;
    }
}



